
<div class="center-this-pls">
    <div class="col-min text-header">
        <h3>
            <span style="color:#ed7437">
                <strong>Let the activities begin.</strong>
            </span>
            <span style="font-weight:200px">
                <br>Book hundreds of tours by destination.</span>
        </h3>
    </div>
</div>

<!-- <div class="content-block-body no-padding-top">
<div class="with-search">
  <div class="dtp-picker dtp-lang-en with-search single-search initialised">
    <form class="dtp-picker-form" >

        <div class="party-size-picker dtp-picker-selector select-native">
          <select ng-model="destination">

              <option value="">All
              </option>
              <option ng-repeat="item in destinations | unique:'displayName'" value="{{item.displayName}}">
                  {{item.displayName}}
              </option>
          </select>

        </div>

        <div class="time-picker dtp-picker-selector select-native unselected-on-init">
          <a class="select-label dtp-picker-selector-link" href="#"></a>
          <select ng-model="duration">
              <option value="">All
              </option>
              <option ng-repeat="item in tours | unique:'duration'" value="{{item.duration}}">
                  {{item.duration }}
              </option>
          </select>
        </div>



      </form>
</div>
</div>
</div> -->

<div class="grid" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "fitRows" }'>
  <div class="grid-item">HI</div>
  <div class="grid-item grid-item--width2">...</div>
  <div class="grid-item">...</div>
  ...
</div>


<div class="rolling">
  <section class="">
	<h2 class="rw-sentence">
		<span>experience</span>
		<div class="rw-words rw-words-1">
			<!-- <span>{{item.displayName}}</span> -->
      <span>Europe</span>
      <span>North America</span>
      <span>Polar</span>
		</div>
		<br />
	</h2>
</section>
</div>

<div class="center-this-pls col-sm-12">
    <div class="row page-header">

        <!-- <div class="col-xs-12 col-sm-6 col-md-3">
  <input type="text" placeholder="What's your destination?" class="search-box  " ng-model="searchLocation">
</div> -->
        <!-- <div> -->
        <form class="form-horizontal ">
            <div class="form-group">
                <div class="col-xs-12 col-sm-6 col-md-3 styled-select">
                    <p class="eyebrow-text">Destination</p>
                    <select class="form-control searchFilter" ng-model="destination">

                        <option value="">All
                        </option>
                        <option ng-repeat="item in destinations | unique:'displayName'" value="{{item.displayName}}">
                            {{item.displayName}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 styled-select">
                    <p class="eyebrow-text">Duration</p>

                    <!-- <select class="form-control" ng-model="selectedDuration" ng-options="item.duration for item in tours | orderBy: tours.duration"> -->
                    <select class="form-control select" ng-model="duration">
                        <option value="">All
                        </option>
                        <option ng-repeat="item in tours | unique:'duration'" value="{{item.duration}}">
                            {{item.duration }}
                        </option>
                        <!-- <option value="1-6">1 - 6 Days</option>
                        <option value="7-11">7 - 11 Days</option>
                        <option value="12-21">12 - 21 Days</option> -->
                    </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 styled-select">
                    <p class="eyebrow-text">Tour Type</p>

                    <select class="form-control" ng-model="displayName">
                        <option value="">All
                        </option>
                        <option ng-repeat="item in tourTypes | unique:'displayName'" value="{{item.displayName}}">
                            {{item.displayName}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 search-bar search-bar-eyebrow">
                  <p class="eyebrow-text ">Filter by </p>
                  <input type="text" placeholder="Search" class=" form-control" ng-model="searchLocation">
                </div>
            </div>

        </form>
    </div>
</div>



<!-- <div class="row"> -->


<div id="container" class="repeated-item" ng-repeat="item in tours | filter:{duration: duration} | filter: searchLocation | filter:displayName | filter:destination ">
  <div class="item">
    <div class="hovereffect searchContainer">
    <img ng-src="{{ item.image['@link'] }}">
    <div class="caption" id="destination-text">

        <!-- <div class="second-description text-center">{{ item['description'] }}</div> -->
        <br>Location:
        {{ item['location'] }}
        <br>Days :
        {{ item['duration'] }}
        <br>
        Tour Type:
        {{item.tourTypes[0]['displayName']}}<br>
        {{item.tourTypes[1]['displayName']}}

    </div>
    <div class="overlay">
        <a class="info" ng-href="#/detail/{{item['@id']}}"> View Details  </a>r
    </div>
  </div>
</div>
</div>

<!-- remove below -->
<!-- <div masonry columnWidth: 80>
    <div class="masonry-brick" ng-repeat="item in tours">
        <img ng-src="{{ item.image['@link'] }}" alt="A masonry brick">
    </div>
</div> -->


<!-- </div> -->
<!--
<div class="center-this-pls col-sm-12">

    <input type="text" placeholder="Where to?" class="search-box  center-this-pls" ng-model="searchLocation">
    <div class="center-this-pls page-header">
        <div class="row search-results">
            <div ng-repeat="item in destinations | filter:searchLocation">

                <div class="col-md-2 destinations">
                    <a ng-href="#/destination/{{item['@name']}}">
                        {{ item['displayName'] }}
                    </a>
                </div>

            </div>
        </div>
    </div>
-->


<!-- This is the "Featured weekend tours" -->

<!-- <div class="weekend page-header center-this-pls">
    <h3 class="">
        Escape for the Weekend
    </h3>
    <h4 class="">
        Discover unique tour experiences.
    </h4>
    <div ng-controller="weekendController" class="row">
        <div ng-repeat="item in tours |limitTo:3">
          <a ng-href="#/detail/{{item['@id']}}">
            <div class="col-md-4">
                <div class="box boxCustom">

                      <img src="{{ item.image['@link'] }}" class="weekend-images" alt="...">
                      <p id="weekend-text">
                          {{ item.name }}
                      </p>

                </div>

            </div>
  </a>
        </div>

    </div>
</div> -->
<!-- closes the weekend header -->
