<div id="form-container" class="detail-page">

    <div class="col-lg-6 page-header">
        <img src="{{selectedTour.image['@link']}}" alt="tour image" class="detail-img" height="310" width="510" />

        <hr/>
        <p class="detail-description">{{ selectedTour.name }}</p>

        <p class="second-description">
            {{ selectedTour.description}}
        </p>
        <p ng-bind-html="selectedTour.body" class="detail-body"> </p>
    </div>

    <div class="col-lg-6 info-checkout">
        <ul class="detail-body">
            <li class="detail-points">
                Location: {{ selectedTour.location }}
            </li>
            <li class="detail-points">
                Duration: {{ selectedTour.duration }}
            </li>
            <li class="detail-points">
                Tour Operator: {{ selectedTour.author }}
            </li>
        </ul>
        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

            <div class="form-group">
                <i class="material-icons">account_circle</i>
                <label class="form-text">Name</label>
                <input type="text" name="name" class="form-control" ng-model="name" required>
            </div>

            <div class="form-group">
                <i class="material-icons">email</i>
                <label class="form-text">Email</label>
                <input type="email" name="email" class="form-control" ng-model="email">
            </div>

            <div class="form-group">
                <i class="material-icons">phone</i>
                <label class="form-text">Phone</label>
                <input type="phone" name="phone" class="form-control" ng-model="phone">
            </div>

            <div class="form-group">
                <i class="material-icons">people</i>
                <label class="form-text">Number of Travellers</label>
                <input type="people" name="people" class="form-control" ng-model="people">
            </div>

            <a ng-href="#/checkout/{{selectedTour['@name']}}" class="btn btn-default form-submit buttons" role="button">Instant Book
                    <span class="glyphicon glyphicon-flash"></span>
                </a>

        </form>



    </div>

</div>
