<div class="center-this-pls">
    <div class="col-min text-header">
        <h3>
            <span style="color:#ed7437">
                <strong>Let the activities begin.</strong>
            </span>
            <span style="font-weight:200px">
                <br>Book hundreds of tours by destination.</span>
        </h3>
    </div>
</div>
<div class="center-this-pls ">
    <div class=" page-header">

        <form class="form-horizontal ">
            <div class="form-group">
                <div class="col-xs-12 col-sm-6 col-md-3 styled-select">
                    <p class="eyebrow-text">Destination</p>
                    <select class="form-control" ng-model="destination">

                        <option value="">All
                        </option>
                        <option ng-repeat="item in destinations | unique:'displayName'" value="{{item.displayName}}">
                            {{item.displayName}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 styled-select">
                    <p class="eyebrow-text">Duration</p>

                    <select class="form-control select" ng-model="duration">
                        <option value="">All
                        </option>
                        <option ng-repeat="item in tours | unique:'duration'" value="{{item.duration}}">
                            {{item.duration }}
                        </option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 styled-select">
                    <p class="eyebrow-text">Tour Type</p>

                    <select class="form-control" ng-model="displayName">
                        <option value="">All
                        </option>
                        <option ng-repeat="item in tourTypes | unique:'displayName'" value="{{item.displayName}}">
                            {{item.displayName}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 search-bar search-bar-eyebrow">
                    <p class="eyebrow-text ">Search
                    </p>
                    <input type="text" placeholder="" class=" form-control" ng-model="searchLocation">
                </div>
            </div>

        </form>
    </div>
</div>


<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 repeated-item" ng-repeat="item in tours | filter:{duration: duration} | filter: searchLocation | filter:{tourTypes: {displayName: displayName}} | filter:destination ">
    <div class="thumbnail destination-card ">

        <div class="hovereffect">
            <div class="destination-images" style="background-image:url({{ item.image['@link'] }})">

                <div class="caption" id="destination-text">

                    <br>Location: {{ item['location'] }}
                    <br>Days : {{ item['duration'] }}
                    <br> Tour Type: {{item.tourTypes[0]['displayName']}}
                    <br> {{item.tourTypes[1]['displayName']}}

                </div>

            </div>
            <div class="overlay">
                <a class="info" ng-href="#/detail/{{item['@name']}}">
                    View Details
                </a>
            </div>

        </div>
    </div>

</div>
